* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.header-logo {
    color: #212121;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    font-family: 'Raleway';
}
.header-logo span {
    color: #2196F3;
}
.nav-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-link-active {
    color: #2196F3;
}
.nav-mail {
    color: #2196F3;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-phone {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.sort-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.sort-btn:hover,
.sort-btn:focus {
    outline: none;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.work-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.work-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.page-footer {
    background: #2F303A;
}
.footer-logo {
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    font-family: 'Raleway';
}
.footer-logo span {
    color: #FFFFFF;
}
.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-mail,
.footer-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}